[TOC]
#策略交易助手接口
##注册
####1.验证手机号
####2.验证注册码
####3.确认注册

##登录
####1.账号密码登录
####2.自动登录

##注销
####1.退出登录

##找回密码
####1.验证手机号是否注册过
####2.验证注册码
####3.修改密码

##个人信息
####1.修改头像
####2.修改密码
####3.修改昵称

##我的自选股
####1.添加
####2.删除
####3.获取列表
####4.刷新
####5.搜索

##我的股票策略
####1.添加
####2.删除
####3.获取列表
####4.搜索







